.header-middle {
  .btn {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: $yellow-color;
    box-shadow: 0 1px 0 1px #FEA009;
    a {
      line-height: 14px;
      text-decoration: none;
      i.far.fa-comments {
        position: relative;
        content: 'f086';
        width: 45px;
        height: 100%;
        line-height: 45px;
        font-size: 30px;
        text-align: center;
        color: $yellow-color;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        background-color: #484848;
        box-shadow: 0 1px 0 1px #262626;
        .circle {
          position: absolute;
          content: '';
          display: inline-block;
          width: 11px;
          height: 11px;
          border: 1px solid $yellow-color;
          background-color: #14a85c;
          border-radius: 50%;
          top: 20px;
          left: 41px;
        }
      }
      .live-chat {
        display: inline-block;
        vertical-align: middle;
        height: 45px;
        font-size: 10px;
        padding: 0 10px;
        color: $orange-color;
        span {
          font-weight: 600;
          font-size: 20px;
          color: #484848;
        }
      }


      i.fas.fa-phone-square {
        content: 'f098';
        width: 45px;
        height: 100%;
        line-height: 45px;
        font-size: 30px;
        text-align: center;
        color: $yellow-color;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        background-color: #484848;
        box-shadow: 0 1px 0 1px #262626;
      }
      .toll-free {
        display: inline-block;
        vertical-align: middle;
        height: 50px;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        padding: 0 22px;
        color: $orange-color;
        span {
          font-weight: 600;
          font-size: 14px;
          color: #484848;
        }
      }
    }
    @media screen and (max-width: 991px) {
      margin-top: 30px;
    }
  }

  //dropdown menu start


  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffce00;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    text-align: left;
    color: $sidebar-text-color;
    padding: 2px 5px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {background-color: #ddd;}

  .show {display: block;}
  //dropdown menu end
}

.header-bottom {
  .btn-mobile {
    display: inline-block;
    border-radius: 5px;
    background-color: $yellow-color;
    box-shadow: 0 1px 0 1px #FEA009;
    margin: 25px 0;
    a {
      display: inline-block;
      vertical-align: middle;
      font-weight: 600;
      font-size: 16px;
      color: #484848;
      line-height: 14px;
      text-decoration: none;
      padding: 10px 15px;
    }
  }

  input[type=submit] {
    font-weight: 700;
    padding: 5px 12px;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    color: $red-text-color;
    background-color: #fff;
    &:hover {
      background-color: #F0F0F0;
      transition: all .3s;
    }
  }
  .order-now {
    text-align: center;
    margin-top: 20px;
    a {
      font-weight: 500;
      font-size: 16px;
      padding: 8px 12px;
      text-decoration: none;
      background-color: $red-text-color;
      border-radius: 5px;
      color: white;
      &:hover {
        background-color: $orange-color;
        transition: all .3s;
      }
    }
  }
}

.left-sidebar {
  .btn {
    text-align: center;
    margin: 25px 0;
    a {
      font-weight: 700;
      padding: 5px 12px;
      border: 1px solid #C0C0C0;
      border-radius: 5px;
      color: $red-text-color;
      background-color: #fff;
      &:hover {
        text-decoration: none;
        background-color: #F0F0F0;
        transition: all .3s;
      }
    }
  }

  .customer-support {
    position: relative;
    .btn {
      text-align: left;
      margin-bottom: 32px;
    }
    .live-chat {
      text-align: center;
      a {
        position: relative;
        top: -37px;
        display: inline-block;
        background: url("../img/live-chat-btn.png") no-repeat;
        width: 132px;
        height: 60px;
      }
    }
  }
}

.main-content {
  .home {
    .price-calculator {
      &-table {
        .btn {
          margin: 15px 0;
          a {
            padding: 15px 30px;
            font-weight: 500;
            text-decoration: none;
            background-color: $red-text-color;
            border-radius: 5px;
            color: white;
            &:hover {
              background-color: $orange-color;
              transition: all .3s;
            }
          }
        }
      }
    }
  }
  .btn {
    margin: 30px 0;
    a {
      font-size: 16px;
      padding: 10px 25px;
      color: $orange-color;
      border: 1px solid $grey-light-color;
      border-radius: 10px;
      &:hover {
        text-decoration: none;
        color: white;
        background-color: $orange-color;
        transition: .3s;
      }
    }

    &-order {
      display: inline-block;
      width: 152px;
      border-radius: 30px;
      margin: 10px;
      padding: 1px;
      &:before {
        content: '';
        display: inline-block;
        width: 104px;
        height: 5px;
        background: linear-gradient(#00b1e8, #fff);
        position: relative;
        top: 6px;
        left: 0;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
      }
      a {
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        color: $grey-text-color;
        padding: 14px 28px;
        border: 3px double $grey-light-color;
        border-radius: 30px;
        &:hover {
          text-decoration: none;
          color: white;
          background-image: linear-gradient(white, cornflowerblue);
          box-shadow: 2px 2px 5px 2px lightgray;
          transition: all .3s;
          border: 0px solid transparent;
          padding: 16px 30px;
        }
      }
    }
    &-live {
      display: inline-block;
      width: 152px;
      border-radius: 30px;
      margin: 10px;
      padding: 1px;
      &:before {
        content: '';
        display: inline-block;
        width: 104px;
        height: 5px;
        background: linear-gradient(#f01a22, #fff);
        position: relative;
        top: 6px;
        left: 0;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
      }
      a {
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        color: $red-text-color;
        padding: 14px 36px;
        border: 3px double $grey-light-color;
        border-radius: 30px;
        &:hover {
          text-decoration: none;
          color: white;
          background-image: linear-gradient(white, indianred);
          box-shadow: 2px 2px 5px 2px lightgray;
          transition: all .3s;
          border: 0px solid transparent;
          padding: 16px 38px;
        }
      }
    }
    &-form {
      margin: 30px auto;
      padding: 18px 40px;
      font-weight: bold;
      font-size: 16px;
      color: $grey-text-color;
      border: 1px solid $grey-light-color;
      border-radius: 15px;
      background: linear-gradient(#e1e3e7, #fff 80%, #e1e3e7);
    }
  }
  .padding-top-bottom {
    padding: 60px 0;
  }
}

.right-sidebar {
  .btn {
    text-align: center;
    margin: 25px 0;
    a {
      font-weight: 700;
      padding: 5px 12px;
      border: 1px solid #C0C0C0;
      border-radius: 5px;
      color: $red-text-color;
      background-color: #fff;
      &:hover {
        text-decoration: none;
        background-color: #F0F0F0;
        transition: all .3s;
      }
    }
  }
}