$default-font: Arial, sans-serif;
$grey-text-color: #54647c;
$red-text-color: #f30000;
$sidebar-text-color: #333366;
$yellow-color: #FFCE00;
$orange-color: #ff5a00;
$grey-light-color: #d9e0e7;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
