@import "vars";
@import "fonts";
@import "libs";
@import "buttons";

html, body {
	height: 100%;
}

body {
	font-size: 14px;
	font-weight: 400;
	min-width: 320px;
	max-width: 1920px;
	margin: auto;
	position: relative;
	line-height: 18px;
	font-family: $default-font;
	overflow-x: hidden;
	color: $grey-text-color;
	background-color: #fff;

	.align-center {
		text-align: center;
	}
	.align-right {
		text-align: right;
	}
	.no-padding-left {
		padding-left: 0;
	}
	.no-gutters {
		margin-right: 0;
		margin-left: 0;

		> .col,
		> [class*="col-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

@import "views/site-header";
@import "views/sidebars";
@import "views/content";
@import "views/site-footer";
@import "partials/mobile";
@import "partials/faq";
@import "media"; // Always at the end
