<div class="container-fluid">
    <div class="row">
        <div class="d-none d-xl-block col-xl-2 left-sidebar">
            <div class="row">
                <div class="col-md-12 margin-bottom">
                    <div class="menu-menu">
                        <header>Menu</header>
                        <nav class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Why us</a></li>
                                    <li><a href="#">Guarantees</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Beware</a></li>
                                    <li><a href="#">Order now</a></li>
                                    <li><a href="#">Prices</a></li>
                                    <li><a href="#">Testimonials</a></li>
                                    <li><a href="#">How it works</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="menu-dissertation">
                        <header>Dissertation</header>
                        <nav class="rectangle-1">
                            <div class="rectangle-2">
                                <img src="../img/binder.png" alt="binder">
                                <ul>
                                    <li><a href="#">Dissertation</a></li>
                                    <li><a href="#">Thesis</a></li>
                                    <li><a href="#">Thesis proposal</a></li>
                                    <li><a href="#">Editing</a></li>
                                    <li><a href="#">Proofreading</a></li>
                                    <li><a href="#">Formatting</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="menu-features">
                        <header>Features</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li>The largest source data base</li>
                                    <li>Up-to-date sources</li>
                                    <li>Our writers have access to most university libraries</li>
                                    <li>Direct communication with a writer</li>
                                    <li><span>Customer support 24/7</span></li>
                                    <li>A wide range of services</li>
                                    <li>Only certified writers</li>
                                    <li>Only custom-written papers</li>
                                    <li>100% privacy guaranteed</li>
                                    <li><span>Free</span> plagiarism report</li>
                                    <li><span>Free amendments</span></li>
                                    <li><span>Free outline</span></li>
                                    <li><span>Free amendments</span></li>
                                    <li><span>Free title page</span></li>
                                    <li><span>Free title page</span> bibliography</li>
                                    <li><span>Free title page</span> formatting</li>
                                </ul>
                                <div class="btn"><a href="#">Read more &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="customer-support">
                        <header>Customer support</header>
                        <div class="bg-image">
                            <div class="rectangle-1">
                                <div class="rectangle-2">
                                    <div class="got-any">
                                        <p>Got any doubts?</p>
                                        <p><span>Contact our</span></p>
                                    </div>
                                    <p>Customer Center<br>
                                        if you have any<br>
                                        questions</p>
                                    <div class="btn"><a href="#">Inquiry request</a></div>
                                    <div class="contact-phone">
                                        Toll free:<a href="tel:+1(888)901-7803">1(888)901-7803</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="live-chat"><a href="#"></a></div>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="best-price">
                        <p>BEST PRICE</p>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom align-center">
                    <div class="authenticity">
                        <p>100%<span>Authenticity</span></p>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 col-lg-9 col-xl-8 main-content">
            <div class="container-fluid">
                <section class="faq">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>FAQ</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="yellow-block"></div>
                    </div>
                    <div class="row">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                    <div class="row">
                        <div class="questions">
                            <a href="#">1. What services does GreatDissertation.com provide?</a>
                            <a href="#">2. How can GreatDissertation.com help me?</a>
                            <a href="#">3. How does GreatDissertation.com protect my privacy?</a>
                            <a href="#">4. What format does GreatDissertation.com normally use for the papers?</a>
                            <a href="#">5. Can GreatDissertation.com write a paper on any topic?</a>
                            <a href="#">6. Just how qualified are your writers?</a>
                            <a href="#">7. Can I contact my writer directly?</a>
                            <a href="#">8. What writing standards does GreatDissertation.com adhere to?</a>
                            <a href="#">9. How does GreatDissertation.com maintain its high academic standards?</a>
                            <a href="#">10. Can I send new, or additional, information to my writer?</a>
                            <a href="#">11. I'm concerned about plagiarized material appearing in my paper.</a>
                            <a href="#">12. Are your prices an indication of the quality of work that will go into my
                                paper?</a>
                            <a href="#">13. What payment methods does GreatDissertation.com accept?</a>
                            <a href="#">14. Can I submit work written by GreatDissertation.com directly to my
                                university?</a>
                            <a href="#">15. What makes GreatDissertation.com better than other online academic writing
                                services?</a>
                            <a href="#">16. How do I place my order with GreatDissertation.com?</a>
                        </div>
                    </div>
                </section>
                <section class="answers">
                    <div class="row">
                        <h3>Dissertation requires a lot of hard work, time and energy</h3>
                        <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t
                            afford to take it lightly. Writing a dissertation is a challenging task and requires
                            specialized treatment and proper research.</p>
                        <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t
                            afford to take it lightly. Writing a dissertation is a challenging task and requires
                            specialized treatment and proper research.</p>
                        <h3>What services does GreatDissertation.com provide?</h3>
                        <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t
                            afford to take it lightly. Writing a dissertation is a challenging task and requires
                            specialized treatment and proper research.</p>
                        <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t
                            afford to take it lightly. Writing a dissertation is a challenging task and requires
                            specialized treatment and proper research.</p>
                        <h3>How can GreatDissertation.com help me?</h3>
                        <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t
                            afford to take it lightly. Writing a dissertation is a challenging task and requires
                            specialized treatment and proper research.</p>
                        <h3>How does GreatDissertation.com protect my privacy?</h3>
                        <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t
                            afford to take it lightly. Writing a dissertation is a challenging task and requires
                            specialized treatment and proper research.</p>
                        <h3>What format does GreatDissertation.com normally use for the papers?</h3>
                        <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t
                            afford to take it lightly. Writing a dissertation is a challenging task and requires
                            specialized treatment and proper research.</p>
                        <h3>Can GreatDissertation.com write a paper on any topic?</h3>
                        <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t
                            afford to take it lightly. Writing a dissertation is a challenging task and requires
                            specialized treatment and proper research.</p>
                        <h3>Just how qualified are your writers?</h3>
                        <p>Since GreatDissertation.com specializes in writing advanced academic papers, any writer
                            applying for a position with GreatDissertation.com must hold an advanced degree in their
                            particular field of study and have years of writing experience. </p>
                        <ul>
                            <li>We accept any major credit card via the International Payment Option</li>
                            <li>Visa and MasterCard customers can make payment over the telephone through one of our
                                customer service representatives.
                            </li>
                            <li>We accept UK debit cards including Switch and Solo</li>
                            <li>We accept payments via PayPal</li>
                            <li>We also accept bank transfer payments</li>
                        </ul>
                        <h3>How does GreatDissertation.com protect my privacy?</h3>
                        <p>We also accept bank transfer payments</p>
                    </div>
                </section>
            </div>
        </div>



        <div class="d-none d-lg-block col-lg-3 col-xl-2 right-sidebar">
            <div class="row bg-yellow"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-pinterest-p"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="we-guarantee">
                        <header>We guarantee</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li>100% Satisfaction</li>
                                    <li>100% Money Back Guarantee</li>
                                    <li>Free Revisions</li>
                                    <li>Delivery on deadline</li>
                                    <li>Strict adherence to any citation</li>
                                    <li>Specialized journals to ensure in</li>
                                    <li>Graduate writers in your special</li>
                                    <li>Up-to-date sources</li>
                                    <li>Professionalism in conducting deep</li>
                                    <li>Never resold to any customer</li>
                                    <li>Never redistributed or posted</li>
                                </ul>
                                <div class="btn"><a href="#">Read more &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="discount">
                        <header>Discounts</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <p>We provide special discounts<br>
                                    <span>for returning clients:</span></p>
                                <div class="discount-list">
                                    <div class="number"><span>5%</span></div>
                                    <div class="text">
                                        <div class="text-1">
                                            <span>discount</span>
                                        </div>
                                        <div class="text-2">
                                            <span>for more than</span>
                                        </div>
                                        <div class="text-3">
                                            20 <span>pages</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="discount-list">
                                    <div class="number"><span>10%</span></div>
                                    <div class="text">
                                        <div class="text-1">
                                            <span>discount</span>
                                        </div>
                                        <div class="text-2">
                                            <span>for more than</span>
                                        </div>
                                        <div class="text-3">
                                            50 <span>pages</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="discount-list">
                                    <div class="number"><span>15%</span></div>
                                    <div class="text">
                                        <div class="text-1">
                                            <span>discount</span>
                                        </div>
                                        <div class="text-2">
                                            <span>for more than</span>
                                        </div>
                                        <div class="text-3">
                                            100 <span>pages</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="faq">
                        <header>FAQ</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li><a href="#">What type of service does GreatDissertation. com provide?</a></li>
                                    <li><a href="#">How can GreatDissertation. com help me?</a></li>
                                    <li><a href="#">How does GreatDissertation. com protect my privacy?s</a></li>
                                    <li><a href="#">What format does GreatDissertation. com normally use for the papers
                                        they write?</a></li>
                                    <li><a href="#">Can GreatDissertation. com write a paper on any topic?</a></li>
                                </ul>
                                <div class="btn"><a href="#">Read more &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="chat">
                        <header>Testimonials</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2 align-center">
                                <div class="chat-text">
                                    <p><a href="#">Myles Redding, Omaha, NE<i class="far fa-comment"></i></a></p>
                                    <p>My Zoology thesis had a short deadline shorter than I thought it had. I had
                                        miswritten the date on my calendar. When I realized this, I turned to ...</p>
                                    <div class="btn"><a href="#">Read more &raquo;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>