<section class="container-fluid">
    <div class="row">
        <div class="col-md-2 left-sidebar">
            <div class="row">
                <div class="col-md-12">
                    <div class="menu-menu">
                        <header>Menu</header>
                        <nav class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Why us</a></li>
                                    <li><a href="#">Guarantees</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Beware</a></li>
                                    <li><a href="#">Order now</a></li>
                                    <li><a href="#">Prices</a></li>
                                    <li><a href="#">Testimonials</a></li>
                                    <li><a href="#">How it works</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="menu-dissertation">
                        <header>Dissertation</header>
                        <nav class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li><a href="#">Dissertation</a></li>
                                    <li><a href="#">Thesis</a></li>
                                    <li><a href="#">Thesis proposal</a></li>
                                    <li><a href="#">Editing</a></li>
                                    <li><a href="#">Proofreading</a></li>
                                    <li><a href="#">Formatting</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="menu-features">
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <header>Features</header>
                                <ul>
                                    <li>The largest source data base</li>
                                    <li>Up-to-date sources</li>
                                    <li>Our writers have access to most university libraries</li>
                                    <li>Direct communication with a writer</li>
                                    <li><span>Customer support 24/7</span></li>
                                    <li>A wide range of services</li>
                                    <li>Only certified writers</li>
                                    <li>Only custom-written papers</li>
                                    <li>100% privacy guaranteed</li>
                                    <li>Free plagiarism report</li>
                                    <li>Free amendments</li>
                                    <li>Free outline</li>
                                    <li>Free amendments</li>
                                    <li>Free title page</li>
                                    <li>Free bibliography</li>
                                    <li>Free formatting</li>
                                </ul>
                            </div>
                        </div>
                        <div class="btn"><a href="#">Read more &raquo;</a></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <header>Customer support</header>
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-12"></div>
            </div>
        </div>
        <div class="col-sm-auto main-content"></div>
        <div class="col-md-2 right-sidebar"></div>
    </div>
</section>