<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12  col-md-6 col-lg-4 main-content">
            <section class="error">
                <div class="row">
                    <div class="col-12">
                        <div class="error-number">
                            4<span>0</span>4
                        </div>
                        <div class="row error-text">
                            <div class="error-text-first">
                                ERROR
                            </div>
                            <div class="error-text-second">
                                <span>SORRY</span><br>
                                page NOT found
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <p>Looks like the page you’re trying to visit doesn’t exist.</p>
                </div>
            </section>
            <div class="row justify-content-center padding-top-bottom">
                <div class="col-8 col-sm-4 col-md-3 align-center">
                    <div class="btn-order"><a href="#">Order now!</a></div>
                </div>
                <div class="col-8 col-sm-4 col-md-3 align-center">
                    <div class="btn-live"><a href="#">Live chat</a></div>
                </div>
            </div>
        </div>
    </div>
</div>