<div class="container">
    <div class="row">
        <div class="col-md-2 left-sidebar">
            <div class="rov">
                <div class="col-md-12">
                    <div class="menu-menu">
                        <nav>
                            <ul>
                                <li>Home</li>
                                <li>About us</li>
                                <li>Why us</li>
                                <li>Guarantees</li>
                                <li>FAQ</li>
                                <li>Beware</li>
                                <li>Order now</li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-12"></div>
                <div class="col-md-12"></div>
                <div class="col-md-12"></div>
                <div class="col-md-12"></div>
            </div>
        </div>
        <div class="col-sm-auto main-content"></div>
        <div class="col-md-2 right-sidebar"></div>
    </div>
</div>