<div class="container-fluid">
    <div class="row">
        <div class="d-none d-xl-block col-xl-2 left-sidebar">
            <div class="row">
                <div class="col-md-12 margin-bottom">
                    <div class="menu-menu">
                        <header>Menu</header>
                        <nav class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Why us</a></li>
                                    <li><a href="#">Guarantees</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Beware</a></li>
                                    <li><a href="#">Order now</a></li>
                                    <li><a href="#">Prices</a></li>
                                    <li><a href="#">Testimonials</a></li>
                                    <li><a href="#">How it works</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="menu-dissertation">
                        <header>Dissertation</header>
                        <nav class="rectangle-1">
                            <div class="rectangle-2">
                                <img src="../img/binder.png" alt="binder">
                                <ul>
                                    <li><a href="#">Dissertation</a></li>
                                    <li><a href="#">Thesis</a></li>
                                    <li><a href="#">Thesis proposal</a></li>
                                    <li><a href="#">Editing</a></li>
                                    <li><a href="#">Proofreading</a></li>
                                    <li><a href="#">Formatting</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="menu-features">
                        <header>Features</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li>The largest source data base</li>
                                    <li>Up-to-date sources</li>
                                    <li>Our writers have access to most university libraries</li>
                                    <li>Direct communication with a writer</li>
                                    <li><span>Customer support 24/7</span></li>
                                    <li>A wide range of services</li>
                                    <li>Only certified writers</li>
                                    <li>Only custom-written papers</li>
                                    <li>100% privacy guaranteed</li>
                                    <li><span>Free</span> plagiarism report</li>
                                    <li><span>Free amendments</span></li>
                                    <li><span>Free outline</span></li>
                                    <li><span>Free amendments</span></li>
                                    <li><span>Free title page</span></li>
                                    <li><span>Free title page</span> bibliography</li>
                                    <li><span>Free title page</span> formatting</li>
                                </ul>
                                <div class="btn"><a href="#">Read more &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="customer-support">
                        <header>Customer support</header>
                        <div class="bg-image">
                            <div class="rectangle-1">
                                <div class="rectangle-2">
                                    <div class="got-any">
                                        <p>Got any doubts?</p>
                                        <p><span>Contact our</span></p>
                                    </div>
                                    <p>Customer Center<br>
                                        if you have any<br>
                                        questions</p>
                                    <div class="btn"><a href="#">Inquiry request</a></div>
                                    <div class="contact-phone">
                                        Toll free:<a href="tel:+1(888)901-7803">1(888)901-7803</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="live-chat"><a href="#"></a></div>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="best-price">
                        <p>BEST PRICE</p>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom align-center">
                    <div class="authenticity">
                        <p>100%<span>Authenticity</span></p>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 col-lg-9 col-xl-8 main-content orders">
            <div class="container-fluid">
                <section class="new-messages">
                    <div>
                        <div class="yellow-block"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <h2><i class="fa fa-thumbtack"></i> New messages</h2>
                            <div class="row new-messages-head no-gutters">
                                <div class="col-3 col-sm-2">
                                    <div class="t-cell">
                                        Order ID
                                    </div>
                                </div>
                                <div class="col-4 col-sm-5">
                                    <div class="t-cell">
                                        Title / topic
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="t-cell">
                                        Messages
                                    </div>
                                </div>
                            </div>
                            <div class="row new-messages-list">
                                <div class="col-12">
                                    <p>No new messages</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="processing-orders">
                    <div>
                        <div class="yellow-block"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <h2><i class="fa fa-thumbtack"></i>Processing orders</h2>
                            <div class="row processing-orders-list no-gutters">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="completed-orders">
                    <div>
                        <div class="yellow-block"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <h2><i class="fa fa-thumbtack"></i>Completed orders</h2>
                            <div class="completed-orders-list">
                                <div class="item">
                                    <div class="row no-gutters">
                                        <div class="col-4 col-sm-3 col-lg-2 bg-grey">
                                            <p class="right">Order ID:</p>
                                            <p class="right">Date:</p>
                                        </div>
                                        <div class="col-8 col-md-9 col-lg-10 bg-grey">
                                            <p>2342511</p>
                                            <p>23.04.2011 (15:34)</p>
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-4 col-sm-3 col-lg-2">
                                            <p class="right">Title / topic:</p>
                                        </div>
                                        <div class="col-8 col-md-9 col-lg-10">
                                            <p>Test</p>
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-4 col-sm-3 col-lg-2 bg-grey">
                                            <p class="right">Status:</p>
                                        </div>
                                        <div class="col-8 col-md-9 col-lg-10 bg-grey">
                                            <p>Payment verification</p>
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-lg-2"></div>
                                        <div class="col-12 col-lg-10">
                                            <div class="row no-gutters justify-content-center">
                                                <div class="col-auto">
                                                    <a href="#">Order details</a>
                                                    <a href="#">Files (0)</a>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#">Contact us</a>
                                                    <a href="#">Messages (0/0)</a>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#">stars</a>
                                                    <a href="#">VIP Order</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item"></div>
                            </div>
                            <div class="completed-orders-list">
                                <div class="item">
                                    <div class="row no-gutters">
                                        <div class="col-4 col-sm-3 col-lg-2 bg-grey">
                                            <p class="right">Order ID:</p>
                                            <p class="right">Date:</p>
                                        </div>
                                        <div class="col-8 col-md-9 col-lg-10 bg-grey">
                                            <p>2342511</p>
                                            <p>23.04.2011 (15:34)</p>
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-4 col-sm-3 col-lg-2">
                                            <p class="right">Title / topic:</p>
                                        </div>
                                        <div class="col-8 col-md-9 col-lg-10">
                                            <p>Test</p>
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-4 col-sm-3 col-lg-2 bg-grey">
                                            <p class="right">Status:</p>
                                        </div>
                                        <div class="col-8 col-md-9 col-lg-10 bg-grey">
                                            <p>Payment verification</p>
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-lg-2"></div>
                                        <div class="col-12 col-lg-10">
                                            <div class="row no-gutters justify-content-center">
                                                <div class="col-auto">
                                                    <a href="#">Order details</a>
                                                    <a href="#">Files (0)</a>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#">Contact us</a>
                                                    <a href="#">Messages (0/0)</a>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#">stars</a>
                                                    <a href="#">VIP Order</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="notice">
                    <div>
                        <div class="yellow-block"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <h2><i class="fa fa-thumbtack"></i>Processing orders</h2>
                            <div class="row notice-text no-gutters">
                                <p>
                                    Important notice about fraudulent chargebacks:
                                </p>
                                <p>
                                    It is a well-known fact that the quality of our writing is very high. The
                                    chargebacks are created only following the fraud motives, we are forced to fight
                                    against this.

                                </p>
                                <p>
                                    If we recieve a chargeback (after the essay is written and received by you and we
                                    weren’t asked to rewrite, correct, etc), it is considered as a customer fraud and
                                    the following measures will be taken:
                                </p>
                                <p>
                                    We will address fraud.org and ic3.gov (Internet Crime Complaint Center (IC3)) etc.
                                    with a complaint about the fraud actions in order the appropriate measures to be
                                    taken.

                                </p>
                                <p>
                                    We turn to your bank administration with a chargeback appeal demand.

                                </p>
                                <p>
                                    We will ask your credit card issuer to include your name in the blacklist.

                                </p>
                                <p>
                                    Your name and surname and other information will be blacklisted in all writing
                                    services network, you won’t be able to do any order again.

                                </p>
                                <p>
                                    Again and again, these actions are taken only considering dishonest chardgebacks.
                                    Please, understand our reasons. We are very glad to see you as our regular customer
                                    and we are glad to offer great discounts for you on this basis.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="row justify-content-center padding-top-bottom">
                    <div class="col-8 col-sm-4 col-md-3 align-center">
                        <div class="btn-order"><a href="#">Order now!</a></div>
                    </div>
                    <div class="col-8 col-sm-4 col-md-3 align-center">
                        <div class="btn-live"><a href="#">Live chat</a></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="d-none d-lg-block col-lg-3 col-xl-2 right-sidebar">
            <div class="row bg-yellow"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-pinterest-p"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="we-guarantee">
                        <header>We guarantee</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li>100% Satisfaction</li>
                                    <li>100% Money Back Guarantee</li>
                                    <li>Free Revisions</li>
                                    <li>Delivery on deadline</li>
                                    <li>Strict adherence to any citation</li>
                                    <li>Specialized journals to ensure in</li>
                                    <li>Graduate writers in your special</li>
                                    <li>Up-to-date sources</li>
                                    <li>Professionalism in conducting deep</li>
                                    <li>Never resold to any customer</li>
                                    <li>Never redistributed or posted</li>
                                </ul>
                                <div class="btn"><a href="#">Read more &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="discount">
                        <header>Discounts</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <p>We provide special discounts<br>
                                    <span>for returning clients:</span></p>
                                <div class="discount-list">
                                    <div class="number"><span>5%</span></div>
                                    <div class="text">
                                        <div class="text-1">
                                            <span>discount</span>
                                        </div>
                                        <div class="text-2">
                                            <span>for more than</span>
                                        </div>
                                        <div class="text-3">
                                            20 <span>pages</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="discount-list">
                                    <div class="number"><span>10%</span></div>
                                    <div class="text">
                                        <div class="text-1">
                                            <span>discount</span>
                                        </div>
                                        <div class="text-2">
                                            <span>for more than</span>
                                        </div>
                                        <div class="text-3">
                                            50 <span>pages</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="discount-list">
                                    <div class="number"><span>15%</span></div>
                                    <div class="text">
                                        <div class="text-1">
                                            <span>discount</span>
                                        </div>
                                        <div class="text-2">
                                            <span>for more than</span>
                                        </div>
                                        <div class="text-3">
                                            100 <span>pages</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="faq">
                        <header>FAQ</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li><a href="#">What type of service does GreatDissertation. com provide?</a></li>
                                    <li><a href="#">How can GreatDissertation. com help me?</a></li>
                                    <li><a href="#">How does GreatDissertation. com protect my privacy?s</a></li>
                                    <li><a href="#">What format does GreatDissertation. com normally use for the papers
                                        they write?</a></li>
                                    <li><a href="#">Can GreatDissertation. com write a paper on any topic?</a></li>
                                </ul>
                                <div class="btn"><a href="#">Read more &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="chat">
                        <header>Testimonials</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2 align-center">
                                <div class="chat-text">
                                    <p><a href="#">Myles Redding, Omaha, NE<i class="far fa-comment"></i></a></p>
                                    <p>My Zoology thesis had a short deadline shorter than I thought it had. I had
                                        miswritten the date on my calendar. When I realized this, I turned to ...</p>
                                    <div class="btn"><a href="#">Read more &raquo;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>