<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 main-content">
            <section class="error">
                        <div class="error-number">
                            4<span>0</span>4
                        </div>
                        <div class="error-text">
                            <div class="error-text-first">
                                ERROR
                            </div>
                            <div class="error-text-second">
                                <span>SORRY</span><br>
                                page NOT found
                            </div>
                        </div>
                <div class="row justify-content-center">
                    <p>Looks like the page you’re trying to visit doesn’t exist.</p>
                </div>
            </section>
            <div class="row justify-content-center padding-top-bottom no-gutters">
                <div class="col-6 col-sm-5 align-center">
                    <div class="btn-back"><a href="#">GO BACK</a></div>
                </div>
                <div class="col-6 col-sm-5 align-center">
                    <div class="btn-homepage"><a href="../index.html">HOMEPAGE</a></div>
                </div>
            </div>
        </div>
    </div>
</div>