<div class="container-fluid blog-inside">
    <section class="blog-header">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-1 col-xl-8 offset-xl-2">
                <h1>Lorem Ipsum Dolor Sit Amet</h1>
                <div class="m-block">
                    <a href="blog.html">MAIN BLOG</a>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-3 col-xl-2 right-sidebar">
                <div class="row bg-yellow"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-pinterest-p"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <ul>
                                <li>February 28, 2014</li>
                                <li>Category</li>
                                <li><a href="#">2 Comments</a></li>
                            </ul>
                            <p>
                                <span>
                                    Suspendisse ut condimentum nunc. Vivamus accumsan faucibus metus, in viverra nibh
                                    ornare nec. Integer et arcu at erat luctus sodales. Duis ut tincidunt risus. Donec
                                    at euismod lorem. Sed rutrum sed nunc vel sollicitudin. Aliquam erat volutpat. Proin
                                    eleifend odio ut tortor malesuada, sit amet sagittis dui facilisis.
                                </span>
                            </p>
                        </div>
                        <div class="col-12 col-md-8">
                            <img src="../img/blog/blog-inside.png" alt="block-inside" class="img-width">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center blog-content-text">
                <div class="col-12 col-lg-10 col-xl-8">
                    <p>
                        Suspendisse ut condimentum nunc. Vivamus accumsan faucibus metus, in viverra nibh ornare nec.
                        Integer et arcu at erat luctus sodales. Duis ut tincidunt risus. Donec at euismod lorem. Sed
                        rutrum sed nunc vel sollicitudin. Aliquam erat volutpat. Proin eleifend odio ut tortor
                        malesuada, sit amet sagittis dui facilisis.
                    </p>
                    <p>
                        Vivamus laoreet dolor nec nibh imperdiet, blandit venenatis ante congue. Duis lectus ipsum,
                        aliquet sed placerat consectetur, tempus sit amet risus. Nulla accumsan justo vel urna hendrerit
                        feugiat. Morbi quis eleifend purus, sit amet tincidunt sapien. Sed viverra interdum dolor, vel
                        porttitor sapien malesuada eget. Sed congue lobortis mi, et suscipit eros semper eu. Suspendisse
                        ac risus fermentum, cursus felis a, laoreet ante. Nunc ullamcorper eu justo quis sagittis.
                        Phasellus cursus lectus at nunc mattis, a pulvinar urna finibus. Praesent quis metus vel ante
                        eleifend posuere ac eu lectus. Etiam rutrum, dolor in sagittis ornare, arcu sapien condimentum
                        tellus, a pharetra elit nulla quis ante. Donec a blandit nunc, vel gravida nisi. Suspendisse
                        potenti. Cras vulputate turpis at dolor malesuada, ut porta metus eleifend.
                    </p>
                    <p>
                        Donec rhoncus egestas mauris. Nullam rutrum id lectus eget laoreet. In ut ipsum in ante
                        porttitor sollicitudin. Maecenas at imperdiet eros. Aenean porta justo vel orci aliquet
                        dignissim. Duis gravida, ex vel iaculis venenatis, neque velit cursus nisi, nec consectetur nibh
                        ligula a quam. Proin vestibulum placerat nisl vel tempor. Sed at pulvinar nisl, id mollis justo.
                    </p>
                    <p>
                        Vivamus laoreet dolor nec nibh imperdiet, blandit venenatis ante congue. Duis lectus ipsum,
                        aliquet sed placerat consectetur, tempus sit amet risus. Nulla accumsan justo vel urna hendrerit
                        feugiat. Morbi quis eleifend purus, sit amet tincidunt sapien. Sed viverra interdum dolor, vel
                        porttitor sapien malesuada eget. Sed congue lobortis mi, et suscipit eros semper eu. Suspendisse
                        ac risus fermentum, cursus felis a, laoreet ante. Nunc ullamcorper eu justo quis sagittis.
                        Phasellus cursus lectus at nunc mattis, a pulvinar urna finibus. Praesent quis metus vel ante
                        eleifend posuere ac eu lectus. Etiam rutrum, dolor in sagittis ornare, arcu sapien condimentum
                        tellus, a pharetra elit nulla quis ante. Donec a blandit nunc, vel gravida nisi. Suspendisse
                        potenti. Cras vulputate turpis at dolor malesuada, ut porta metus eleifend.
                    </p>
                    <p>
                        Donec rhoncus egestas mauris. Nullam rutrum id lectus eget laoreet. In ut ipsum in ante
                        porttitor sollicitudin. Maecenas at imperdiet eros. Aenean porta justo vel orci aliquet
                        dignissim. Duis gravida, ex vel iaculis venenatis, neque velit cursus nisi, nec consectetur nibh
                        ligula a quam. Proin vestibulum placerat nisl vel tempor. Sed at pulvinar nisl, id mollis justo.
                    </p>
                </div>

            </div>
            <div class="row justify-content-center tags no-gutters">
                <div class="col-12 col-lg-10 col-xl-8">
                    <a href="#">Tag word</a>
                    <a href="#">Tag word</a>
                    <a href="#">Tag word</a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8 prev-next">
                    <div class="row justify-content-between">
                        <div class="col-5 col-md-auto">
                            <a href="#">
                                <i class="fas fa-long-arrow-alt-left"></i>
                                Vivamus laoreet dolor nec nibh imperdiet
                            </a>
                        </div>
                        <div class="col-5 col-md-auto">
                            <a href="#" class="">
                                Duis lectus ipsum, aliquet sed placerat consectetur
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="comments">
        <div class="container-fluid">
            <div class="row  justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
                    <div class="row comment">
                        <div class="col-2 align-center">
                            <div class="icon-block">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="row justify-content-between">
                                <div class="col-12 col-md-6">
                                    <p>
                                        <span>Jennifer Freeman</span><br>
                                        May 29th 2015, 6:00 pm
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 align-right">
                                    <a href="#">REPLY</a>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus eu nulla
                                eleifend eleifend id in nibh. Nullam nec condimentum sem. Donec viverra convallis
                                justo. Nam eget consectetur erat, et imperdiet odio.
                            </p>
                            <div class="comment">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="icon-block">
                                            <i class="fas fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="row justify-content-between">
                                            <div class="col-12 col-md-6">
                                                <p>
                                                    <span>Jennifer Freeman</span><br>
                                                    May 29th 2015, 6:00 pm
                                                </p>
                                            </div>
                                            <div class="col-12 col-md-6 align-right">
                                                <a href="#">REPLY</a>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus eu
                                            nulla eleifend eleifend id in nibh. Nullam nec condimentum sem. Donec
                                            viverra convallis justo. Nam eget consectetur erat, et imperdiet odio.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row comments-form">
                        <div class="col-12 col-md-6">
                            <form action="formdata.php" method="post">
                                <div class="input-area">
                                    <label>
                                        Add comment
                                    </label><br>
                                    <textarea name="comment" cols="30" rows="10"></textarea><br>
                                    <label>
                                        Name
                                    </label><br>
                                    <input type="text" name="name"><br>
                                    <label>
                                        E-mail
                                    </label><br>
                                    <input type="text" name="e-mail"><br>
                                </div>
                                <input type="button" name="post" value="Post" class="btn">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>