<div class="container-fluid main-content main-content-blog">
    <section class="blog-header">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-1 col-xl-8 offset-xl-2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 blog-header-name">
                            <h1>Blog</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 links">
                            <div class="row justify-content-between">
                                <div class="col-12 col-md-4 posts">
                                    <a href="#">
                                        Popular posts
                                    </a>
                                    <a href="#">
                                        Recent posts
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 category align-right">
                                    <a href="#">
                                        Category1
                                    </a>
                                    <a href="#">
                                        Category2
                                    </a>
                                    <a href="#">
                                        Category3
                                    </a>
                                    <a href="#">
                                        Category4
                                    </a>
                                </div>
                            </div>
                            <div class="row tags">
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-3 col-xl-2 right-sidebar">
                <div class="row bg-yellow"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-pinterest-p"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="blog-item">
                        <img src="../img/blog/41161667-arizona-wallpapers.png" alt="arizona" class="img-width">
                        <div class="blog-item-text">
                            <h2>Lorem Ipsum Dolor Sit Amet</h2>
                            <ul>
                                <li>February 28, 2014</li>
                                <li>Category</li>
                                <li><a href="#">2 Comments</a></li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices hendrerit
                                ipsum, ac
                                dignissim elit tincidunt ut. Aliquam erat volutpat. Vestibulum sit , vel maximus nulla.
                                Ut
                                vitae
                                commodo arcu. Donec in efficitur ligula. Praesent ac magna id neque tincidunt posuere.
                                Vestibulum
                                aliquet felis ullamcorper, elementum nibh eu, mollis augue...
                            </p>
                            <div class="row tags">
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                            </div>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="blog-item">
                        <img src="../img/blog/blog-2.png" alt="blog-3" class="img-width">
                        <div class="blog-item-text">
                            <h2>Lorem Ipsum Dolor Sit Amet</h2>
                            <ul>
                                <li>February 28, 2014</li>
                                <li>Category</li>
                                <li><a href="#">2 Comments</a></li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices hendrerit
                                ipsum, ac
                                dignissim elit tincidunt ut. Aliquam erat volutpat. Vestibulum sit , vel maximus nulla.
                                Ut
                                vitae
                                commodo arcu. Donec in efficitur ligula. Praesent ac magna id neque tincidunt posuere.
                                Vestibulum
                                aliquet felis ullamcorper, elementum nibh eu, mollis augue...
                            </p>
                            <div class="row tags">
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                            </div>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="blog-item">
                        <img src="../img/blog/blog-3.png" alt="blog-3" class="img-width">
                        <div class="blog-item-text">
                            <h2>Lorem Ipsum Dolor Sit Amet</h2>
                            <ul>
                                <li>February 28, 2014</li>
                                <li>Category</li>
                                <li><a href="#">2 Comments</a></li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices hendrerit
                                ipsum, ac
                                dignissim elit tincidunt ut. Aliquam erat volutpat. Vestibulum sit , vel maximus nulla.
                                Ut
                                vitae
                                commodo arcu. Donec in efficitur ligula. Praesent ac magna id neque tincidunt posuere.
                                Vestibulum
                                aliquet felis ullamcorper, elementum nibh eu, mollis augue...
                            </p>
                            <div class="row tags">
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                            </div>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="blog-item">
                        <img src="../img/blog/blog-4.png" alt="blog-4" class="img-width">
                        <div class="blog-item-text">
                            <h2>Lorem Ipsum Dolor Sit Amet</h2>
                            <ul>
                                <li>February 28, 2014</li>
                                <li>Category</li>
                                <li><a href="#">2 Comments</a></li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices hendrerit
                                ipsum, ac
                                dignissim elit tincidunt ut. Aliquam erat volutpat. Vestibulum sit , vel maximus nulla.
                                Ut
                                vitae
                                commodo arcu. Donec in efficitur ligula. Praesent ac magna id neque tincidunt posuere.
                                Vestibulum
                                aliquet felis ullamcorper, elementum nibh eu, mollis augue...
                            </p>
                            <div class="row tags">
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                            </div>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="blog-item">
                        <img src="../img/blog/blog-5.png" alt="blog-5" class="img-width">
                        <div class="blog-item-text">
                            <h2>Lorem Ipsum Dolor Sit Amet</h2>
                            <ul>
                                <li>February 28, 2014</li>
                                <li>Category</li>
                                <li><a href="#">2 Comments</a></li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices hendrerit
                                ipsum, ac
                                dignissim elit tincidunt ut. Aliquam erat volutpat. Vestibulum sit , vel maximus nulla.
                                Ut
                                vitae
                                commodo arcu. Donec in efficitur ligula. Praesent ac magna id neque tincidunt posuere.
                                Vestibulum
                                aliquet felis ullamcorper, elementum nibh eu, mollis augue...
                            </p>
                            <div class="row tags">
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                            </div>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="blog-item">
                        <img src="../img/blog/blog-6.png" alt="blog-6" class="img-width">
                        <div class="blog-item-text">
                            <h2>Lorem Ipsum Dolor Sit Amet</h2>
                            <ul>
                                <li>February 28, 2014</li>
                                <li>Category</li>
                                <li><a href="#">2 Comments</a></li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices hendrerit
                                ipsum, ac
                                dignissim elit tincidunt ut. Aliquam erat volutpat. Vestibulum sit , vel maximus nulla.
                                Ut
                                vitae
                                commodo arcu. Donec in efficitur ligula. Praesent ac magna id neque tincidunt posuere.
                                Vestibulum
                                aliquet felis ullamcorper, elementum nibh eu, mollis augue...
                            </p>
                            <div class="row tags">
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                                <a href="#">Tag word</a>
                            </div>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="load-more">
                        <a href="#">LOAD MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>