<footer>
    <div class="container-fluid">
        <div class="row yellow-line"></div>
        <div class="row justify-content-around d-none d-lg-block list">
            <div class="col-lg-auto text">
                <a href="#">Home</a><br>
                <a href="#">About us</a><br>
                <a href="#">Why us</a><br>
                <a href="#">Guarantees</a><br>
                <a href="#">FAQ</a>
            </div>
            <div class="col-lg-auto text">
                <a href="#">Buy dissertation</a><br>
                <a href="#">Prices</a><br>
                <a href="#">Testimonials</a><br>
                <a href="#">How it works</a><br>
                <a href="#">Contact us</a>
            </div>
            <div class="col-lg-auto text">
                <a href="#">Dissertation</a><br>
                <a href="#">Dissertation abstract</a><br>
                <a href="#">Research proposal</a><br>
                <a href="#">Thesis</a><br>
                <a href="#">Thesis proposal</a>
            </div>
            <div class="col-lg-auto text">
                <a href="#">Editing</a><br>
                <a href="#">Proofreading</a><br>
                <a href="#">Free Essays</a><br>
                <a href="#">APA Dissertation Editing and the Rules</a><br>
                <a href="#">Tips for Writing a Literature Review</a>
            </div>
            <div class="col-lg-auto text">
                <a href="#">Complete the Research for a Dissertation</a><br>
                <a href="#">The Dissertation Template</a><br>
                <a href="#">How to Write a Dissertation Abstract</a><br>
                <a href="#">How to Write a Thesis Statement</a><br>
                <a href="#">How to Write Acknowledgements</a>
            </div>
        </div>
        <div class="row footer-info">
            <div class="col-lg-6 justify-content-between align-self-start">
                <div class="footer-info-logo">
                    <div class="logo-footer"></div>
                    <div class="text-footer">
                    <span>@ 2009-2017. GreatDissertation.com. All rights reserved</span><br>
                    <span>Custom dissertations writing service</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 justify-content-between d-none d-lg-block">
                <div class="contact-info">
                    <a href="#">Live chat</a>
                    <a href="#">Terms and Conditions</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Delivery Policy</a>
                    <div class="contact-info-phone">
                        <span>Toll free:</span><a href="#">1(888)901-7803</a>
                        <span>Call us:</span><a href="#">1(646)963-6691</a>
                    </div>
                    <div class="contact-info-text">
                        The website is owned and operated by Global Soft Group Corp, BVI
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-pay d-none d-sm-block">
            <div class="col-12"></div>
        </div>
        <div class="row d-sm-none">
            <div class="col-md-12 align-center">
                <div class="social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-pinterest-p"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>