<footer>
    <div class="container-fluid">
        <div class="row yellow-line"></div>
        <div class="row justify-content-around">
            <div class="col-md-auto"><a href="#">Home</a></div>
            <div class="col-md-auto"><a href="#">About us</a></div>
            <div class="col-md-auto"><a href="#">Why us</a></div>
            <div class="col-md-auto"><a href="#">Guarantees</a></div>
            <div class="col-md-auto"><a href="#">FAQ</a></div>
            <div class="col-md-auto"><a href="#">Buy dissertation</a></div>
            <div class="col-md-auto"><a href="#">Prices</a></div>
            <div class="col-md-auto"><a href="#">Testimonials</a></div>
            <div class="col-md-auto"><a href="#">How it works</a></div>
            <div class="col-md-auto"><a href="#">Contact us</a></div>
            <div class="col-md-auto"><a href="#">Dissertation</a></div>
            <div class="col-md-auto"><a href="#">Dissertation abstract</a></div>
            <div class="col-md-auto"><a href="#">Research proposal</a></div>
            <div class="col-md-auto"><a href="#">Thesis</a></div>
            <div class="col-md-auto"><a href="#">Thesis proposal</a></div>
            <div class="col-md-auto"><a href="#">Editing</a></div>
            <div class="col-md-auto"><a href="#">Proofreading</a></div>
            <div class="col-md-auto"><a href="#">Free Essays</a></div>
            <div class="col-md-auto"><a href="#">APA Dissertation Editing and the Rules</a></div>
            <div class="col-md-auto"><a href="#">Tips for Writing a Literature Review</a></div>
            <div class="col-md-auto"><a href="#">Complete the Research for a Dissertation</a></div>
            <div class="col-md-auto"><a href="#">The Dissertation Template</a></div>
            <div class="col-md-auto"><a href="#">How to Write a Dissertation Abstract</a></div>
            <div class="col-md-auto"><a href="#">How to Write a Thesis Statement</a></div>
            <div class="col-md-auto"><a href="#">How to Write Acknowledgements</a></div>
            <div class="col-md-auto"><a href="#">What is the Structure of a Dissertation?</a></div>
            <div class="col-md-auto"><a href="#">Best UK Dissertation Writing</a></div>
            <div class="col-md-auto"><a href="#">Dissertation Data Analysis</a></div>
            <div class="col-md-auto"><a href="#">Dissertation Editing and Proofreading</a></div>
            <div class="col-md-auto"><a href="#">Formating Papers in APA</a></div>
            <div class="col-md-auto"><a href="#">Learn the Uniqueness of CSE and Use It in Academic Writing</a></div>
            <div class="col-md-auto"><a href="#">Chicago Style Formatting - Use It Wisely!</a></div>
            <div class="col-md-auto"><a href="#">Useful MLA Format Examples</a></div>
            <div class="col-md-auto"><a href="#">Making Oxford Referencing Correctly</a></div>
            <div class="col-md-auto"><a href="#">Detailed Turabian Style Guide</a></div>
            <div class="col-md-auto"><a href="#">The Vancouver Referencing Style</a></div>
            <div class="col-md-auto"><a href="#">Referencing a Text in the Harvard Style</a></div>
            <div class="col-md-auto"><a href="#">Host of Interesting Topics for IT Dissertations</a></div>
            <div class="col-md-auto"><a href="#">Help with Assignments for Students in China</a></div>
            <div class="col-md-auto"><a href="#">Topics for an Engineering Dissertation</a></div>
            <div class="col-md-auto"><a href="#">Hoq to Choose the Best Topics for a Computing Dissertation</a></div>
            <div class="col-md-auto"><a href="#">Guide to Writing a Sociology Dissertation</a></div>
            <div class="col-md-auto"><a href="#">Topic Ideas for a Dissertation on Education</a></div>
            <div class="col-md-auto"><a href="#">Excellent Topics for a Dissertation on E-Commerce</a></div>
            <div class="col-md-auto"><a href="#">Topics Ideas for a Dissertation on Management</a></div>
            <div class="col-md-auto"><a href="#">Finance Dissertation Topics</a></div>
            <div class="col-md-auto"><a href="#">Want a 4.0 GPA in College? Here are Some Useful Tips</a></div>
        </div>
        <div class="row footer-info">
            <div class="col-md-6 justify-content-between align-self-start">
                <div class="footer-info-logo">
                    <div class="logo-footer" style="background-color: orange; width: 50px; height: 50px"></div>
                    <div class="text-footer">
                    <span>@ 2009-2017. GreatDissertation.com. All rights reserved</span><br>
                    <span>Custom dissertations writing service</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 justify-content-between">
                <div class="contact-info">
                    <a href="#">Live chat</a>
                    <a href="#">Terms and Conditions</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Delivery Policy</a>
                    <div class="contact-info-phone">
                        <span>Toll free:</span><a href="#">1(888)901-7803</a>
                        <span>Call us:</span><a href="#">1(646)963-6691</a>
                    </div>
                    <div class="contact-info-text">
                        The website is owned and operated by Global Soft Group Corp, BVI
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-pay">
            <div class="col-12"></div>
        </div>
    </div>
</footer>