<header>
    <div class="container-fluid">
        <div class="d-none d-sm-block row">
            <div class="col-xs-12">
                <div class="header-top">
                    <div class="block-left"></div>
                    <div class="block-right"></div>
                </div>
            </div>
        </div>
        <div class="row header-middle">
            <div class="col-8 col-md-4 d-lg-none align-self-center logo-header-small">
            </div>
            <div class="d-none d-lg-block col-lg-4 col-xl-3 align-self-end logo-header">
            </div>
            <div class="col-xl-3 align-self-center d-none d-xl-block">
                <h1><span>EXCLUSIVE</span>DISSERTATION WRITING SERVICE</h1>
            </div>
            <div class="d-none d-md-block col-md-6 col-lg-3 col-xl-3 align-self-start align-center">
                <div class="btn">
                    <a href="#">
                        <i class="far fa-comments">
                            <div class="circle"></div>
                        </i>
                        <div class="live-chat">
                            <span>LIVE CHAT</span><br>click here
                        </div>
                    </a>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-3 col-xl-3 align-self-start align-center">
                <div class="btn">
                    <a href="#">
                        <i class="fas fa-phone-square"></i>
                        <div class="toll-free">
                            <span>Toll FREE</span><br>1(888)901-7803<br>1(646)963-6691
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-4 col-md-2 col-lg-2 d-xl-none align-self-center align-right">
                <div class="dropdown">
                    <button class="hamburger hamburger--spin">
                        <span class="hamburger-box">
                            <span  class="hamburger-inner dropbtn"></span>
                        </span>
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="../index.html">Home</a>
                        <a href="#">About Us</a>
                        <a href="#">Why Us</a>
                        <a href="#">Guarantees</a>
                        <a href="../FAQ.html">FAQ</a>
                        <a href="../beware.html">Beware</a>
                        <a href="#">Order now</a>
                        <a href="#">Prices</a>
                        <a href="#">Testimonials</a>
                        <a href="#">How it works</a>
                        <a href="../404.html">Discounts</a>
                        <a href="../contacts.html">Contact Us</a>
                        <a href="../blog.html">Blog</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row grafic-border"></div>
        <div class="row header-bottom align-items-center">
            <div class="col-6 d-md-none align-self-center align-center">
                <div class="btn-mobile">
                    <a href="#">
                            LIVE CHAT
                    </a>
                </div>
            </div>
            <div class="col-6 d-md-none toll-free-mobile align-self-center align-center">
                <a href="tel:+1(888)901-7803">1(888)901-7803</a><br>
                <a href="tel:+1(646)963-6691">1(646)963-6691</a>
            </div>
            <div class="col-xl-12 header-menu d-none d-xl-block">
                <nav>
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Why Us</a></li>
                        <li><a href="#">Guarantees</a></li>
                        <li><a href="../FAQ.html">FAQ</a></li>
                        <li><a href="../beware.html">Beware</a></li>
                        <li><a href="#">Order now</a></li>
                        <li><a href="#">Prices</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">How it works</a></li>
                        <li><a href="../404.html">Discounts</a></li>
                        <li><a href="../contacts.html">Contact Us</a></li>
                        <li><a href="../blog.html">Blog</a></li>
                    </ul>
                </nav>
            </div>
            <div class="d-none d-lg-block col-lg-10 col-xl-8 offset-xl-2">
                <form action="login.html" method="post" name="form1" class="user-login-form">
                    <div class="row align-items-center">
                        <input type="hidden" name="action" value="authorization">
                        <div class="col-md-2 align-right no-padding">
                            <label>Registration</label>
                        </div>
                        <div class="col-md-3 no-padding">
                            <input type="text" name="e-mail" placeholder="Email">
                        </div>
                        <div class="col-md-3">
                            <input type="password" name="pass" value="FakePSW">
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Login">
                        </div>
                        <div class="col-md-2 no-padding">
                            <a href="#">Forgot your password?</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-none d-lg-block col-lg-2 col-xl-2">
                <div class="order-now">
                    <a href="#">ORDER NOW</a>
                </div>
            </div>
        </div>
    </div>
</header>