.main-content {
  text-align: center;
  .error {
    display: inline-block;
    position: relative;
    &-number {
      display: inline-block;
      font-size: 280px;
      font-family: LetterGothicStd;
      line-height: 280px;
      text-align: center;
      color: #ffd000;
      span {
        color: #252525;
      }
    }
    &-text {
      position: absolute;
      top: 29%;
      background-color: #fff;
      &-first {
        display: inline-block;
        font-weight: bold;
        font-size: 68px;
        font-family: LetterGothicStd;
        line-height: 61px;
        padding: 5px 0;
        color: #252525;
      }
      &-second {
        display: inline-block;
        font-weight: 300;
        font-size: 35px;
        font-family: Calibri;
        line-height: 30px;
        padding-left: 48px;
        text-align: left;
        color: #a4a3a3;
      }
    }
    p {
      font-size: 20px;
      font-family: Tahoma;
      text-align: center;
      color: #000;
    }
    @media screen and (min-width: 992px) {
      width: 624px;
    }
    @media screen and (max-width: 991px) {
      width: 260px;
      .error {
        &-number {
          font-size: 100px;
        }
        &-text {
          top: 35%;
          &-first {
            font-size: 30px;
            line-height: 30px;
            padding: 1px 0;
          }
          &-second {
            font-size: 14px;
            line-height: 12px;
            padding: 1px 0 1px 20px;
          }
        }
      }
    }
  }
}