.main-content {
  margin-top: 55px;
  padding: 0;
  .img-width {
    width: 100%;
  }
  .home, .faq {
    position: relative;
    h1 {
      position: absolute;
      top: -82px;
      background: url("../img/home/content-home.png") no-repeat;
      width: 310px;
      height: 64px;
      font-family: Georgia;
      font-size: 25px;
      line-height: 64px;
      text-align: center;
      color: $red-text-color;
    }
  }
  img {
    margin-bottom: 25px;
  }
  p {
    text-align: justify;
  }

  .price-calculator {
    display: inline-block;
    max-width: 940px;
    header {
      background: url("../img/menu-left.png") no-repeat;
      font-size: 20px;
      font-family: Georgia, SansSerif;
      text-align: left;
      line-height: 40px;
      padding-left: 35px;
      color: white;
    }
    &-border {
      background-color: #e1eaef;
      border: 2px solid #e1eaef;
      border-radius: 1px;
    }
    &-table {
      border: 2px solid #f0f5f8;
      border-radius: 2px;
      text-align: left;
      padding: 5px;
      label {
        font-weight: bold;
        font-size: 14px;
        margin: 5px;
        color: #2a373e;
      }
      select {
        display: block;
        width: 100%;
        height: 35px;
      }
      p {
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        margin: 20px;
        color: #2a373e;
        span {
          font-size: 16px;
          color: $red-text-color;
        }
      }
      @media screen and (max-width: 575px) {
        p {
          font-size: 18px;
          span {
            font-size: 18px;
          }
        }
      }
    }
  }

  .some-reasons {
    .info {
      border: 1px solid $grey-light-color;
      border-radius: 5px;
      padding: 10px 0;
      margin: 5px 0;
      h2 {
        line-height: 25px;
        font-family: Tahoma;
        font-weight: bold;
        margin-bottom: 0;
        color: $orange-color;
      }
      a>i {
        color: $grey-light-color;
        font-size: 25px;
        border: 1px solid $grey-light-color;
        border-radius: 50%;
        padding: 1px;
        &:hover {
          color: $orange-color;
        }
      }
    }
    h3 {
      color: $red-text-color;
    }
  }
}