footer {
  .yellow-line {
    height: 40px;
    background: $yellow-color linear-gradient(to top, $yellow-color, yellow);
    border: 1px solid #FFEA00;
  }
  .row>.col-md-auto>a {
      line-height: 40px;
  }

  .footer-info {
    padding-top: 25px;
    border-top: 1px solid #eee;
    color: $grey-text-color;
    &-logo {
      text-align: center;
      .logo-footer {
        display: inline-block;
        vertical-align: middle;
      }
      .text-footer {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        span {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }


    .contact-info {
      text-align: right;
      font-size: 14px;
      line-height: 14px;
      a {
        display: inline-block;
        margin-bottom: 10px;
        padding: 0 10px;
        line-height: 12px;
        color: $grey-text-color;
        border-right: 1px solid $grey-text-color;
        &:hover {
          text-decoration: none;
          color: $yellow-color;
        }
      }
      &-phone {

      }
      &-text {
        user-select: none;
      }
    }
  }
  
  
  .footer-pay {
    margin: 20px 0;
    height: 20px;
    background-color: #E8E8E6;
  }

}