header {
  .col-xs-12 {
    width: 100%;
    .header-top {
      display: block;
      height: 15px;
      background: #e1e1e1 linear-gradient(to top,#fff 0,#fff 1%,#e0e0e0 37%,#fff 100%);
      box-shadow: inset 0 0 7.2px 0.8px rgba(255,255,190,.75);
      border: 1px solid #d2d4d4;
      .block-left {
        position: absolute;
        left: 0;
        border-bottom-right-radius: 25px;
      }
      .block-right {
        position: absolute;
        right: 0;
        border-bottom-left-radius: 25px;
      }
      .block-left, .block-right {
        width: 215px;
        height: 15px;
        background-color: $secondary-color;
      }
    }
  }

  .header-middle {
    background-color: lightgoldenrodyellow;
    .logo-header {
      width: 180px;
      height: 90px;
      background-color: orange;
    }
    h1 {
      font: 400 18px Tahoma;
      span {
        font-weight: 700;
        font-size: 24px;
        color: $secondary-color;
        margin-right: 5px;
        text-shadow: 3px 3px 5px grey;
      }
    }
  }

  .header-bottom {
    text-align: center;
    color: $second-text-color;
    background-color: yellow;
    nav {
      position: relative;
      top: -20px;
      display: inline-block;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 3px 3px 13px 1px $accent-text-color;
      ul {
        display: table-row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          display: table-cell;
          width: auto;
          vertical-align: middle;
          &:first-child a {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          &:last-child a {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            &:after {
              content: none;
            }
          }
          a {
            position: relative;
            display: block;
            padding: 6px 10px;
            line-height: 25px;
            text-decoration: none;
            color: inherit;
            border-top: 2px solid transparent;
            border-bottom: 3px solid transparent;
            border-left: 1px solid transparent;
            transition: color .3s;
            cursor: pointer;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 45%;
              display: block;
              width: 0;
              height: 0;
              border-width: 4px 5px 0 5px;
              border-style: solid;
              border-color: transparent;
            }
            &:after {
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              margin-top: -10px;
              height: 20px;
              border-right: 1px dotted black;
            }
            &:hover {
              line-height: 25px;
              border-top: 2px solid #fb7200;
              border-bottom: 3px solid #fb7200;
              transition: all .6s;
              &:before {
                border-color: #fb7200 transparent transparent transparent;
                transition: all 1.0s;
              }
            }
          }
        }
      }

    }
    .user-login-form {
      .no-padding {
        padding: 0;
      }
      .align-right {
        text-align: right;
      }
      label {
        font-size: 18px;
        text-align: right;
        color: $second-text-color;
      }
      input[type=text], input[type=password] {
        width: 100%;
        min-height: 29px;
        margin: 20px 20px;
        padding: 5px 10px;
        border: 1px solid #C0C0C0;
        border-radius: 3px;
        &:focus {
          background-color: #F8F8F8;
        }
      }
      a {
        color: $second-text-color;
      }
    }
  }
}